
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html {
  font-size: 14px
}

body{
	margin-top: 60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.square {
	margin: 7px;
	padding: 4px;
	border-radius: 5px;
	text-align: center;
	background-color: rgba(69,104,220, .07);
	p {
		margin: 0px;
		font-size: 18px;
	}
}

.tag {
	padding: 5px;
	background-color: rgba(69,104,220, .18);
	color: rgb(69,104,220);
	border-radius: 3px;
}

.name {
	p {
		margin: 0px;
	}
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #4568DC;
    margin: .5em 0;
    padding: 0;
    border-radius: 5px;
}


#nav {

	background: #4568DC !important;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #B06AB3, #4568DC) !important;
	background: linear-gradient(to left, #B06AB3, #4568DC) !important;
	padding-left: 150px !important;
	padding-right: 150px !important;

	.navbar-brand {
		color: white;
		font-size: 25px;
		font-weight: bolder;
	}
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(69,104,220, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(69,104,220, 0.6);
  outline: 0 none;
}

.btn-peach {
	background-color: #4568DC;
	color: white;
}

.btn:focus {
	border-color: rgba(69,104,220, 0.8);
  	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(69,104,220, 0.6);
  	outline: 0 none;
}

.questionBody {
	font-size: 13px;
	height: 130px;
	overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.companyName {
	color: #4568DC;
	font-weight: bolder;
}

